<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin: 1rem auto; display: flex; justify-content: space-evenly; flex-wrap: wrap">
    <a href="/information/all">Информация</a>
    <a href="/answers/all">Вопросы и ответы</a>
    <a href="/">Список заявок</a>
    <a href="/permission">Выдать права</a>
</div>
<form th:action="@{/information/new}" th:method="POST" th:object="${newInformation}">
    <p>Заголовок:</p>
    <textarea name="lexicId" id="lexicId" cols="30" rows="10" th:field="*{lexicId}"></textarea>
    <p>Информация:</p>
    <textarea name="textContent" id="textContent" cols="30" rows="10" th:field="*{textContent}"></textarea>
    <button>Сохранить</button>
</form>
</body>
</html>