<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="margin: 1rem auto; display: flex; justify-content: space-evenly; flex-wrap: wrap">
        <a href="/information/all">Информация</a>
        <a href="/answers/all">Вопросы и ответы</a>
        <a href="/booking/">Список заявок</a>
    </div>
    <a href="/answers/new">Добавить новый вопрос ответ</a>
    <div  style="display: flex; justify-content: space-evenly">
        <div th:each="answer : ${answers}" style="border: 1px solid black; padding: 0.5rem; flex-wrap: wrap">
            <p>Вопрос:</p>
            <div th:text="${answer.getQuestion()}"></div>
            <p>Ответ:</p>
            <div th:text="${answer.getAnswer()}"></div>
            <a th:href="${'/answers/edit/' + answer.getId()}">Редактировать</a>
            <form th:action="@{/answers/{id}(id=${answer.getId()})}" th:method="DELETE">
                <button>Удалить</button>
            </form>
        </div>
    </div>
</body>
</html>