<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin: 1rem auto; display: flex; justify-content: space-evenly; flex-wrap: wrap">
    <a href="/information/all">Информация</a>
    <a href="/answers/all">Вопросы и ответы</a>
    <a href="/">Список заявок</a>
    <a href="/permission">Выдать права</a>
</div>
<form th:action="@{/answers/{id}(id=${updatedAnswer.getId()})}" th:method="PATCH" th:object="${updatedAnswer}">
    <p>Вопрос:</p>
    <textarea name="question" id="question" cols="30" rows="10" th:field="*{question}"></textarea>
    <p>Ответ:</p>
    <textarea name="answer" id="answer" cols="30" rows="10" th:field="*{answer}"></textarea>
    <button>Обновить</button>
</form>
</body>
</html>