<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        th, td {
            border: 1px solid black;
            padding: 1rem;
            text-align: center;
        }
        table {
            width: 100%;
        }
    </style>
</head>
<body>
<div style="margin: 1rem auto; display: flex; justify-content: space-evenly; flex-wrap: wrap">
    <a href="/information/all">Информация</a>
    <a href="/answers/all">Вопросы и ответы</a>
    <a href="/">Список заявок</a>
    <a href="/permission">Выдать права</a>
</div>
    <table>
        <tr>
            <th>Номер заявки</th>
            <th>Дата</th>
            <th>Кол-во мест</th>
            <th>Откуда</th>
            <th>Куда</th>
            <th>Номер телефона</th>
            <th>Кто</th>
        </tr>
        <tr th:each="booking : ${bookings}">
            <td th:text="${booking.getId()}"/>
            <td th:text="${booking.getDate()}"/>
            <td th:text="${booking.getPassengersCount()}"/>
            <td th:text="${booking.getFromPlace()}"/>
            <td th:text="${booking.getToPlace()}"/>
            <td th:text="${booking.getPhoneNumber()}"/>
            <td th:text="${booking.getPassengerName()}"/>
        </tr>
    </table>
</body>
</html>